*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:dodgerblue;
    font-family:Arial, Helvetica, sans-serif
}

.container{
    display: grid;
    justify-content: center;
    padding: 10rem;
    
    
    
}
table{
    padding: 1rem;
    border-collapse: collapse;
    width: 20rem;
  
}

button{
    background-color: #414141;
    border: none;
    cursor: pointer;
    padding: 20px;
    font-size: 30px;
    width: 100%;
    color: white;
    margin: 0;
  
}
button:hover{
    background-color: #212121;
    
}
#ans{
    background-color: white;
    height: 4rem;
    padding: 20px;
}
#allclear{
    background-color: cyan;
    text-align: center;
    font-size: 1.5rem;
}

.operator{
    background-color: gray;

}